{
  "tabWidth": 2,
  "semi": true,
  "printWidth": 80,
  "singleQuote": false,
  "arrowParens": "always",
  "useTabs": false,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/(.*)$",
    "^@/hooks/(.*)$",
    "",
    "^types$",
    "^@/types/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
